<%- include ('../layout/header') -%>
    <%- include ('../layout/sidebar') -%>

        <div  class="text-center">
            <h2> Results </h2>

        </div>
        <div>
            <table class="table table-stripped table-responsive table-bordered"
                style="width:100%; border: 1px solid black">
                <tr>
                    <th>
                        Course
                    </th>
                    <th>
                        Score
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </table>
        </div>

        <td>
        </td>



        <td>
        </td>













        <%- include ('../layout/footer') -%>