<%- include('layout/header'); %>
<div>
<%- include('layout/sidebar'); %>

    this is the login page

    <% if (user) { %>
        <h2 style="color: blue;"><%= user.name %></h2>
      <% } %>

</div>
<%- include('layout/footer'); %>